:root{
    --mainBackgroundColor: #BBE7FF;
    --secondBackgroundColor: #BD95B7;
    --thirdBackgroundColor: #E6B6DF;
    --mainFontColor: #995AFF;
    --secondFontColor: #350C78;
    font-family: 'Rum Raisin', sans-serif;
}

body{
    display: grid;

    grid-template-rows: 40vh 60vh;

    width: 100vw;
    height: 100vh;

    margin: 0;

    background-color: var(--secondBackgroundColor);
}

img{
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

.header{
    display: grid;

    grid-template-columns: 63vw 30vw;
    grid-template-rows: 40vh;

    border-radius: 2em 2em 0 0;

    background-color: var(--thirdBackgroundColor);
}

.imgContainer{
    display: flex;

    align-items: end;
    justify-content: center;
}

.textContainer{
    display: flex;

    align-items: center;

    margin-left: 7vw;
}

h1{
    margin: 0;

    font-size: 7vw;
    font-weight:200;
    color: var(--mainFontColor);
}

h3{
    margin-top: 0;
    margin-left: 3vw;

    font-size: 3vw;
    font-weight: normal;
    color: #ffffff8e;
}

.backButtonContainer{
    position: absolute;

    top: 1vw;
    left: 1vw;

    width: 4vw;
    height: 4vw;
}

.info{
    background-color: var(--mainBackgroundColor);
}